# TESTE ESTÁGIO START

In [4]:
import pandas as pd

Questão 1

In [5]:
indice = 13
soma = 0
K = 0
soma = sum(K for K in range(1, indice + 1))
print(soma)

91

questão 2

In [6]:
def fibonacci(n):
    fseq = [0, 1] 
    while True:
        valor = fseq[-1] + fseq[-2]
        if valor > n: 
            break
        fseq.append(valor)
    return fseq

def verificar(num):
    fib_sequence = fibonacci(num)
    if num in fib_sequence:
        return f"O número {num} está na sequência de Fibonacci."
    else:
        return f"O número {num} não está na sequência de Fibonacci."

numero = 9
resultado = verificar(numero)
print(resultado)

O número 9 não está na sequência de Fibonacci.

Questão 3

In [7]:
questao = pd.read_json("C:/Users/ZÉ/Downloads/dados.json")
questao

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
3     4      0.0000
4     5      0.0000
5     6  26742.6612
6     7      0.0000
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
10   11      0.0000
11   12      0.0000
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
17   18      0.0000
18   19      0.0000
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
24   25      0.0000
25   26      0.0000
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [8]:
#Aqui excluí os valores zerados pois as questões pedem valores de maior e menor faturamentos. 
questao_not0 = questao[questao['valor'] > 0]
questao_not0

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [9]:
maior_valor = questao_not0['valor'].max()
dia_maior_valor = questao_not0[questao_not0['valor'] == maior_valor]['dia'].values[0]

menor_valor = questao_not0['valor'].min()
dia_menor_valor = questao_not0[questao_not0['valor'] == menor_valor]['dia'].values[0]

print(f"Maior valor: {maior_valor} no dia: {dia_maior_valor}")
print(f"Menor valor: {menor_valor} no dia: {dia_menor_valor}")

Maior valor: 48924.2448 no dia: 16
Menor valor: 373.7838 no dia: 14

In [10]:
media_mensal = questao_not0['valor'].mean()
media_mensal

20865.370166666664

In [11]:
maiores_media = questao_not0[questao_not0['valor'] > media_mensal][['dia', 'valor']]
maiores_media

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
15   16  48924.2448
19   20  35240.1826
20   21  43829.1667
26   27  25681.8318

Questão 4

In [12]:
faturamento = {
    'SP': 67836.43,
    'RJ': 36678.66,
    'MG': 29229.88,
    'ES': 27165.48,
    'Outros': 19849.53
}

faturamento_total = sum(faturamento.values())

percentuais = {estado: (valor / faturamento_total) * 100 for estado, valor in faturamento.items()}


print("Percentual de representação por estado:")
for estado, percentual in percentuais.items():
    print(f"{estado}: {percentual:.2f}%")

Percentual de representação por estado:
SP: 37.53%
RJ: 20.29%
MG: 16.17%
ES: 15.03%
Outros: 10.98%

Questão 5

In [13]:
string = 'target'

string_invertida = ""

for i in range(len(string) - 1, -1, -1):
    string_invertida += string[i]

print("String invertida:", string_invertida)

String invertida: tegrat